/* General content */
body {
    margin: 100px auto; 
    width: max-content; 
    text-align: center; 
    font-family: sans-serif; 
}

/* Style for all div elements */
div {
    display: inline-block; 
    font-size: 20px;
    margin: 25px; 
    border: 4px solid black; 
    line-height: 200px; 
    text-align: center; 
    width: 200px; 
    height: 200px; 
}

/* Styling for the first div */
div:nth-child(1) { 
    border: 4px solid purple; 
    box-shadow: 10px 10px 20px red; 
}

/* Styling for the second div */
div:nth-child(2) { 
    border: 4px solid lime; 
    box-shadow: -10px -10px 20px black inset;
}

/* Styling for the third div */
div:nth-child(3) { 
    border-radius: 25px;
    border: 5px solid orange; 
    box-shadow: 
        0 0 0 10px blue, 
        0 0 0 20px red, 
        0 0 0 30px green; 
}

/* Styling for the fourth div */
div:nth-child(4) { 
    border: 4px solid brown; 
    text-shadow: 3px 3px 5px black;
}

/* Styling for the paragraph */
p {
    font-size: 40px; 
    font-weight: bold; 
    color: black;
    text-shadow: 3px 3px 6px gray; 
    margin-top: 50px; 
    text-align: center; 
}